* {
    background-color: lightblue;
}

.main_container{
    text-align: center;
}

h1.main_title{
    color: green;
}

button.main_button{
    background-color: cyan;
    color: green;
}