{% extends 'social_media/base.html' %}

{% block content %}
  <h2><a href="{% url 'social_media:profile' username %}">User Profile</a></h2>
  <form action="{% url 'social_media:search' %}" method="get">
    <input name="search" type="text" placeholder="Search Profile...">
    <button name="submit">Search</button>
  </form>

  {% for post in feed %}
    <ul>
      <a href="{% url 'social_media:post' post.pk %}">
        <img src="{{ post.image.url }}"/>
      </a>
    </ul>
    {% empty %}
      <p>Empty Feed</p>
  {% endfor %}
{% endblock content %}