{% extends 'social_media/base.html' %}

{% block content %}
  <h2><a href="{% url 'social_media:profile' username %}">User Profile</a></h2>
  <img src={{post.image.url}}/>
  <h1>{{post.caption}}</h1>
  <p>{{post.created_on}}</p>

  {% for c in comments %}
    <li>{{c.owner.username}}: {{c.comment}}</li>
  {% empty %}
    <p>no comments</p>
  {% endfor %}

  <a href="{% url 'social_media:new_comment' post.pk %}">Comment</a>

  {% if username == owner_username %}
    <a href="{% url 'social_media:delete_post' post.pk %}">Delete Post</a>
  {% endif %}
{% endblock content %}
