{% extends 'social_media/base.html' %}

{% block content %}
  <h2>
    {% if request.user == user_name %}
      <a href="{% url 'social_media:new_post' %}">New Post</a>
      <a href="{% url 'accounts:settings' %}">Account Settings</a>
    {% endif %}
  </h2>
  <img src="{{ info.profile_pic.url }}"/>
  <h2>Bio</h2>
  <p>{{ info.bio }}</p>
  <ul>
    {% for post in posts %}
      <a href="{% url 'social_media:post' post.pk %}">
        <img src="{{ post.image.url }}"/>
      </a>
    {% empty %}
      <p>Empty Profile</p>
    {% endfor %}
  </ul>
{% endblock content %} 