{% extends 'social_media/base.html' %}

{% block content %}
  <h2>
    {% if request.user == profile_user %}
      <a href="{% url 'social_media:new_post' %}">New Post</a>
      <a href="{% url 'accounts:settings' %}">Account Settings</a>
      <a href="{% url 'accounts:friends_list' request.user.username %}">Friends</a>
    {% else %}
      <p>Send friend request - to implement</p>
    {% endif %}
  </h2>
  <img src="{{ info.profile_pic.url }}"/>
  <h2>Bio</h2>
  <p>{{ info.bio }}</p>
  <ul>
    {% for post in posts %}
      <a href="{% url 'social_media:post' post.pk %}">
        <img src="{{ post.image.url }}"/>
      </a>
    {% empty %}
      <p>Empty Profile</p>
    {% endfor %}
  </ul> 

  {% if user.is_authenticated %}
  <hr/>
  <form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button name="submit">Log out</button>
  </form>
  {% endif %}

{% endblock content %} 