{% extends 'social_media/base.html' %}

{% block content %}
  <h2>
    <a href="{% url 'social_media:new_post' %}">New Post</a>
    <a href="{% url 'accounts:settings' %}">Account Settings</a>
  </h2>
  <img src={{account_info.profile_pic.url}}/>
  <h2>Bio</h2>
  <p>
    {{account_info.bio}}
  </p>
  <ul>
    {% for post in profile %}
      <a href="{% url 'social_media:post' post.pk %}">
        <img src={{post.image.url}}/>
      </a>
    {% empty %}
      <p>Empty Profile</p>
    {% endfor %}
  </ul>
{% endblock content %} 